<div class="ui middle aligned grid">
    <div class="groupper column">
        <div class="ui card fluid">
            <div class="content">
                <div class="header">
                    <h2 class="ui teal header">
                        <div class="content">
                            Registrarse
                        </div>
                        <div class="sub header">Crea una cuenta para tu acceso</div>
                    </h2>
                </div>
            </div>
            <div class="content">
                <form class="ui large form">
                    <div class="two fields">
                        <div class="field">
                            <label>Nombre</label>
                            <input placeholder="Nombre" name="first_name" type="text">
                        </div>
                        <div class="field">
                            <label>Apellido</label>
                            <input placeholder="Apellido" name="last_name" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label>Correo electr칩nico</label>
                        <input type="text" name="email" placeholder="Correo electr칩nico">
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Contrase침a</label>
                            <input placeholder="Nombre" name="password" type="password">
                        </div>
                        <div class="field">
                            <label>Repetir contrase침a</label>
                            <input placeholder="Apellido" name="confirm" type="password">
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui fluid large teal submit button">Registrarse</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/register.js"></script>